#title1 {
    color: green;
}
.title2 {
    background-color: blanchedalmond;
}
a {
    color: blueviolet;
}

h2.title2 {
    color: #fefefe;
    background-color: blue;
}



span, .title2 {
    color: blue;
}

span > em {
    background-color: palevioletred;
}

#header > #menu {
    background-color: grey;
}

p, span {
    text-transform: uppercase;
}


/* Selector */
.class_hello {
    color: red;
}

#div_hello {
    color: green;
}

#div_img {
    width: 4000px;
    height: 3000px;
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-position: right 0 top 0;
}

.div1 {
    background-color: red;
    height: 300px;
    padding: 50px;
}

.div2 {
    background-color: green;
    width: 400px;
    height: 400px;
    padding: 50px;
    margin: 50px;
}

.float-parent {
    background-color: pink;
    overflow: auto;
}

.float1 {
    background-color: green;
    width: 200px;
    height: 200px;
    float: left;
}

.float2 {
    background-color: red;
    width: 300px;
    height: 200px;
    /* float: right; */
}

#input {
    border: 2px solid red;
}

.w1 {
    margin-top: 30px;
    background-color: red;
    width: 100%;
    height: 200px;
}

.w2 {
    box-sizing: border-box;
    background-color: green;
    width: calc(50% - 50px);
    height: 100%;

    border-top: black dashed 10px;
    /* border-top-width: 10px;
    border-top-style: solid;
    border-top-color: black; */
}

.fixed {
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.relative1 {
    background-color: palevioletred;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    position: relative;
    padding-top: 50px;
    right: 100px;
    bottom: 70px;
}
.absolute {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9;
    top: 600px;
    left: 0;
}

.div3 {
    background-color: khaki;
    width: 200px;
    height: 200px;
    /* position: absolute; */
    z-index: 7;
}

h1 {
    position: absolute;
    top: 50px;
    right: 50px;
}

table {
    border: 1px solid;
}
table td {
    border: 1px solid;
}

#header img {
    opacity: 1;
}

#header img:hover {
    opacity: 0.5;
}

.color-red {
    color: red;
}