body {
    background-color: #cecece;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: white;
}

header #header-container #logo {
    float: left;
}

header #header-container #header-menu {
    float: left;
    overflow: auto;
}

header #header-container #header-menu > a {
    float: left;
}

header #header-container #header-menu a {
    display: block;
    padding: 13px 8px;
    color: #000000;
    text-decoration: none;
}

header #header-container #header-menu a:hover {
    background-color: pink;
}

.dropdown {
    float: left;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#container #slider {
    position: relative;
}

#container #slider img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.prev-btn {
    position: absolute;
    left: 0;
    top: calc(50% - 40px / 2);
    width: 40px;
    height: 40px;
    background-image: url('img/Arrows-Back-icon.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.next-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: calc(50% - 40px / 2);
    width: 40px;
    height: 40px;
    background-image: url('img/Arrows-Forward-icon.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
}

.next-btn:focus, .prev-btn:focus {
    border: none;
    outline: none;
}

#container #content {
    background: white;
}

#container #content .popular {
    overflow: auto;
    margin: 0 20px;
    padding: 15px 0;
}

#container #content .popular .popular-title {
    float: left;
    background: #e0e0e0;
    padding: 5px 10px;
    text-transform: uppercase;
}

#container #content .popular .popular-navigation {
    float: right;
}

#container #content .popular .popular-navigation button {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#container #content .popular .popular-navigation button:focus {
    outline: none;
}

#container #content .posts {
    padding: 0 20px;
    overflow: auto;
}

#container #content .posts .each-news.middle {
    margin: 0 5%;
}

#container #content .posts .each-news a {
    width: 100%;
    display: block;
}

#container #content .posts .each-news img {
    height: 150px;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}

#container #content .posts .each-news .title {
    margin: 5px 0;
    cursor: pointer;
}

#container #content .posts .each-news .author {
    font-size: 10pt;
    margin-top: 7px;
}

#container #content .navigation {
    overflow: auto;
    margin: 0 20px;
}

#container #content .navigation .nav-left {
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
}

#container #content .navigation .nav-right {
    float: right;
}

#container #content .navigation .nav-left a {
    padding: 5px 10px;
    border: 1px solid #cecece;
    cursor: pointer;
}

footer {
    width: 650px;
    margin: 0 auto;
    padding: 20px 15px;
    background: #ffe8ae;
    overflow: auto;
    box-sizing: border-box;
}

footer .footer-column.about p {
    font-size: 10pt;
}

footer .footer-column.about p > a {
    color: rgb(236, 14, 144);
    cursor: pointer;
}

footer .footer-column.more {
    padding-left: 10px;
}

footer .footer-column.more > .title {
    background: white;
    padding: 10px 15px;
    display: inline-block;
    font-size: 10pt;
    margin-bottom: 10px;
}

footer .footer-column.more .news {
    margin-bottom: 10px;
}


footer .footer-column.more .news img {
    width: 70px;
    height: 50px;
    object-fit: cover;
}

footer .footer-column.more .news .news-title {
    width: calc(100% - 80px);
    float: right;
}

footer .footer-column.more .news .news-title p {
    margin: 0;
}

footer .footer-column.more .news .news-title p.title {
    font-size: 10pt;
}

footer .footer-column.more .news .news-title p.date {
    font-size: 9pt;
    margin-top: 5px;
}

footer .footer-column.features > .title {
    background: white;
    padding: 10px 15px;
    display: inline-block;
    font-size: 10pt;
    margin-bottom: 10px;
}

footer .footer-column.features .content {
    padding-right: 10px;
}

footer .footer-column.features .content span {
    font-size: 10pt;
}

footer .footer-column.features .content span.right {
    float: right;
}

#header-container .button-menu {
    display: none;
    height: 35px;
    width: 50px;
    font-size: 21px;
    float: right;
    border: none;
    margin-top: 4px;
    outline: none;
}

@media screen and (max-width: 420px) {
    header #header-container, #container, footer {
        width: 100%;
    }

    #header-menu {
        display: none;
    }    
    #header-container .button-menu {
        display: block;
    }
    
    #container #content .posts .each-news.middle {
        margin: 0;
    }
}